* {
    box-sizing: border-box;
    transition: all 0.3s;
}
:root {
    --verde-f: #5B8E7D;
    --verde-c: #8CB369;
    --rojo: #BC4B51;
    --naranja: #F4A259;
    --amarillo: #F4E285;
    --blanco: #f7f7f7;
    --negro: #333533;
}
body {
    margin: 0;
    font-family:Poppins;
    text-align: justify;
    background: var(--blanco);
}
section {
    padding-top: 40px;
    padding-bottom: 10;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
h1 {
    color: var(--negro);
    text-align: center;
    font-size: 2vw;
}
img {
    width: 30%;
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom:10px;
}
.ej div {
    text-align: center;
    display: flex;
}
.ej a , .reg a{
    background: var(--verde-f);
    color: var(--blanco);
    font-size: 1vw;

    padding: 20px 30px;
    cursor: pointer;
    border: none;
    text-decoration: none;

    justify-content: space-evenly;
    float:left;
    position:relative;
    height:100%;
    width:100%;
}
.reg a {
    text-align: center;
    display: flex;
}
.ej a:hover , .reg a:hover{
    color: var(--blanco);
    background-color: var(--verde-c);
}