
td {
    padding: 3px;
}
th {
    padding: 4px;
    background-color: #23282b62;
}
hr {
    width: 98%;
    top: 10px;
    border: none;
    height: 1px;
    background: black;
    margin-bottom: 17px;
}
P {
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    text-justify: inter-word;
}

/* 
    DATOS PERSONALES
 */
.dp, .dp th, .dp td , .ep, .ep th, .ep .ca td{
    border: 2px solid black;
    border-collapse: collapse;
}
/* 
    SITUACION ESCOLAR
 */
.br {
    border-right: solid 2px black;
}
.bl {
    border-left: solid 2px black;
}
.bt {
    border-top: solid 2px black;
}
.bb {
    border-bottom: solid 2px black;
}
/* 
    NOMBRE Y FIRMA
 */
.nf .f {
    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    background-color: #23282b62;
    border: 2px solid black;
    border-collapse: collapse;
}

.a {
    font-size: 0.78em;
}
