body {
    font-family: Poppins, sans-serif;
}
td {
    padding: 3px;
}
th {
    padding: 4px;
    background-color: #a6a6a6;
}
hr {
    width: 98%;
    top: 10px;
    border: none;
    height: 1px;
    background: black;
    margin-bottom: 17px;
}
P {
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    text-justify: inter-word;
}
img {
    width: 80%;
    height: auto;
}
/* logo */
.lg td.ins {
    font-size: 1.8vw;
    text-align: center;
}
.lg td.ins-2 {
    line-height: 30px;
    font-size: 1.4vw;
    text-align: center;
}
.lg td.ins-3 {
    font-size: 1.2vw;
}
.lg td.ins-4 {
    text-align: center;
}
/* 
    DATOS PERSONALES
 */
.dp, .dp th, .dp td , .ep, .ep th, .ep .ca td, .nf, .nf th, .nf td {
    border: 2px solid black;
    border-collapse: collapse;
}
/* 
    SITUACION ESCOLAR
 */
.br {
    border-right: solid 2px black;
}
.bl {
    border-left: solid 2px black;
}
.bt {
    border-top: solid 2px black;
}
.bb {
    border-bottom: solid 2px black;
}
/* 
    NOMBRE Y FIRMA
 */
.nf .f {
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    background-color: #a6a6a6;
    border: 2px solid black;
    border-collapse: collapse;
}

.a {
    font-size: 0.78em;
}
